/*css created by digitalis*/
@import "variabels";

//a transition class
.transition (@prop: all, @time: 2s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

.background(@size: cover){
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

//a shadow for the top of a section
.top_box_shadow(@hori : -1px, @vert :0px, @Blur: 5px, @Spread: 1px, @color: rgba(0,0,0,0.20)){
  -webkit-box-shadow: @hori @vert @Blur @Spread @color;
  -moz-box-shadow: @hori @vert @Blur @Spread @color;
  box-shadow: @hori @vert @Blur @Spread @color;
}

.border_radius(@size: 0px){
  -webkit-border-radius:@size;
  border-radius:@size;
}

.formbtn(@bgcolor:@color1,@bgcolorbh:@color1,@txcolor:@color3,@txcolorh:@color1,@fsize:1.6em,@top:0){
  position: absolute;
  top: @top;
  display: inline;
  font-size: @fsize;
  padding:0.5vw;
  background-color: @bgcolor;
  color: @txcolor;
  font-weight: 300;
  border: 1px solid transparent;
  .border_radius(@size: 3px);
  .transition(@time:0.3s, @ease:ease-in-out);
  &:hover{
    background-color: transparent;
    color: @txcolorh;
    border-color: @bgcolorbh;
  }
}

//wrapper styling
.wrapper {
  .nopm;
  .tole;
  .full_size;
  background: @color3;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
}

/*Styling for the entire html file*/
html {
  .wrapper;
}

/*Styling for the body*/
body {
  .wrapper;
  font-family: 'Lato', sans-serif;
}

//section style
section {
  .nopm;
  .tole;
  z-index: 2;
  height: 100%;
  position: relative;
  overflow: hidden;
}

// Center vertically
.center_vertically_css {
  position: relative;
  top: @50p;
  transform: translateY(-@50p);
}

// Center horizonatally
.center_horizontally_css {
  position: relative;
  left: @50p;
  transform: translateX(-@50p);
}

// Center css
.center_css {
  position: relative;
  left: @50p;
  top: @50p;
  transform: translate(-@50p -@50p);
}

.center_horizontally_css_a{
  height: auto !important;
  width: auto !important;
  .center_css;
}

//no margin
.nom{
  margin: @no;
}
//no padding
.nop{
  padding: @no;
}

//no padding no margin
.nopm {
  .nop;
  .nom;
}

//top left
.tole {
  top: @no;
  left: @no;
}

//full with
.fullw{
  width: @100p !important;
}

//full height
.fullh{
  height: @100p !important;
}

.full_size{
  .fullh;
  .fullw;
}