@import "everything";

.about_skills {
  background: #000;
  height: 100vh;
  .about_skills_container {
    height: auto;
    .center_vertically_css;
    display: inline-flex;

    .about_skills_hex {
      position: relative;
      width: 10vw;
      height: 5.5vw;
      background-color: @color1;
      margin: 0.5vw;

      &:before, &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 5vw solid transparent;
        border-right: 5vw solid transparent;
      }

      &:before {
        bottom: 99%;
        border-bottom: 2.5vw solid @color1;
      }

      &:after {
        top: 99%;
        width: 0;
        border-top: 2.5vw solid @color1;
      }
    }
  }
}