@import "everything";

.about_skills {
  height: 100vh;
  width: 100vw;
  .about_skills_container {
    height: auto;
    .center_vertically_css;
    .about_skills_hex {
      float: left;

      .hex {
        float: left;
        margin-left: 3px;
        margin-bottom: -26px;

      .top {
        width: 0;
        border-bottom: 30px solid @color1;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
      }
      .middle {
        width: 104px;
        height: 60px;
        background: @color1;
      }
      .bottom {
        width: 0;
        border-top: 30px solid @color1;
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
      }
    }
      .hex-row {
        clear: left;
      }
      .hex-row.even {
        margin-left: 53px;
      }

    }
  }
}