@import "main";

//contact intro
.contact_intro{
  .nopm;
  .tole;
  z-index: 3;
  height: 55vh;
  background: @color2;
  .contact_intro_container{
    .nopm;
    img{
      .nopm;
      height: 55vh;
      width:@100w;
    }
  }
}

//contact content
.contact_cont{
  .nopm;
  .tole;
  background: @color3;
  height:@100h;
  z-index: 3;
  .contact_cont_container{

  }
}