@import "everything";

.language{
  height: 100vh;
  z-index: 10001;
  background: @color2;
  float: right;
  width: 25vh;
  .language_container{
    .language_text {
      h1 {
      }
      a {
        color: @color3;
        display: inline;
        p {
          font-size: 2em;
        }
        img {
          height: 2vh;

        }
      }
    }
  }
}