/*css created by digitalis*/
//import all other css documents
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";

//side element
@import "nav";
@import "footer";
@import "skroll";
@import "loading";

//index styling
@import "index_intro";
@import "index_about";
@import "index_work";
@import "index_contact";

//terms and condison and pricacy polecy syiling
@import "terms-and-concessions";

//Default colors
@color1: #fe7e17;
@color2: #333333;
@color3: #ffffff;
@color4: #000000;

//standard variables
@no: 0 !important;

//size variables
@100h: 100vh;
@100w: 100vw;
@75h: 75vh;
@75w: 75vw;
@50h: 50vh;
@50w: 50vw;
@25h: 25vh;
@25w: 25vw;

@100p: 100%;
@75p: 75%;
@50p: 50%;
@25p: 25%;

//computer scree sises and up
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

//a transition class
.transition (@prop: all, @time: 2s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

.backround(@size: cover){
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

//a shadow for the top of a section
.top_box_shadow(@hori : -1px, @vert :0px, @Blur: 5px, @Spread: 1px, @color: rgba(0,0,0,0.20)){
  -webkit-box-shadow: @hori @vert @Blur @Spread @color;
  -moz-box-shadow: @hori @vert @Blur @Spread @color;
  box-shadow: @hori @vert @Blur @Spread @color;
}

//Set a font for all text
* {
  font-family: 'Lato', sans-serif !important;
}

//wrapper styling
.wrapper {
  .nopm;
  .tole;
  .full_size;
  background: @color3;
  z-index: 1;
  position: relative;
}

/*Styling for the entire html file*/
html {
  .wrapper;
}

/*Styling for the body*/
body {
  .wrapper;
}

//section style
section {
  .nopm;
  .tole;
  z-index: 2;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/*
#background_fixed {
   position: fixed;
   background: url("../img/bg.jpg") no-repeat fixed;
   .backround;
 }
*/

// Center vertically
.center_vertically_css {
  position: relative;
  top: @50p;
  transform: translateY(-50%);
}

// Center horizonatally
.center_horizontally_css {
  position: relative;
  left: @50p;
  transform: translateX(-50%);
}

// Center css
.center_css {
  position: relative;
  left: @50p;
  top: @50p;
  transform: translateX(-50%);
}

//no margin
.nom{
  margin: @no;
}
//no padding
.nop{
  padding: @no;
}

//no padding no margin
.nopm {
  .nop;
  .nom;
}

//top left
.tole {
  top: @no;
  left: @no;
}

//full with
.fullw{
  width: @100p !important;
}

//full height
.fullh{
  height: @100p !important;
}

.full_size{
  .fullh;
  .fullw;
}