@import "main";

.nav-manstyle{
    height: 7vh;
    background: @color3;
}

.navbar-logo{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

.nav_logo {
    width:75%;
    //height:95%;
    margin-left:5%;
}

.navbar-header {
    width:20%;
}

.navbar-brand {
    padding:0;
    width:100%;
    height:100%;
}

/* ****************START OF NAV MENU ***************/
.nav_menu_container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    background: rgba(74,69,68, 0.8);
    z-index:1031;
}

.nav_menu {
    width:50%;
    height:50%;
    list-style:none;
}

.nav_menu li a:hover{
    color: @color1;
}
.nav_menu li a:active,
.nav_menu li a:visited {
    text-decoration:none;
}
.nav_menu li a {
    color:@color3;
    font-size: 3vw;
    font-weight: 100;
    display:block;
    text-align:center;
}

.nav_menu_cross {
    position:fixed;
    right: 5%;
    width: 5vw;
    height: 5vw;
    top: 5%;	
}

.nav_button_container li {
    width:100%;
}

.nav_button_container{
    min-height:50px;
    position:fixed;
    right:8%;
    top:0;
    width:3%;
    height:8%;
    list-style:none;
    z-index:1040;
}

/*Nav hamburger menu*/
.McButton {
    color: @color4;
    position:absolute;
    width: 100%;
    height: 40%;
    top: 30%;
    cursor: pointer;
    background:none;
    padding: 0 !important;
}

b {
    position: absolute;
    display:block;
    width: 100%;
    height: 10%;
    background-color: @color2;
    left:0;
    z-index:1040;
}

b:nth-child(1) {
    top: 0;
}

b:nth-child(2) {
    top: 50%;
}

b:nth-child(3) {
    top: 100%;
}