@import "main";

//nav when closed
nav{
  p{

  }
  .nav_button_container li {
    .fullw;
  }

  .nav_button_container{
    min-height:50px;
    position:fixed;
    right:8%;
    top:0;
    width:3%;
    height:8%;
    list-style:none;
    z-index:1040;
  }

  .McButton {
    color:@color4;
    position:absolute;
    width: 100%;
    height: 40%;
    top: 30%;
    cursor: pointer;
    background:none;
    padding: 0 !important;
  }

  b {
    position: absolute;
    display:block;
    width: 100%;
    height: 10%;
    background-color: @color2;
    left:0;
    z-index:1040;
  }

  b:nth-child(1) {
    top: 0;
  }

  b:nth-child(2) {
    top: 50%;
  }

  b:nth-child(3) {
    top: 100%;
  }

  .nav-manstyle{
    height: 8%;
    background: #FFF;
  }

  .navbar-logo{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .nav_logo {
    .fullw;
    height:100%;
    margin-left:-5%;
  }

  .navbar-header {
    width:20%;
  }

  .navbar-brand {
    .full_size;
  }

  .nav_menu_container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    .fullw;
    height:100vh;
    background: rgba(74,69,68, 0.8);
    z-index:1031;
  }

  .nav_menu {
    width:50%;
    height:50%;
    list-style:none;
  }

  .nav_menu li a:hover{
    color: @color2;
  }
  .nav_menu li a:active,
  .nav_menu li a:visited {
    text-decoration:none;
  }
  .nav_menu li a {
    color:@color3;
    font-size: 3vw;
    font-weight: 100;
    display:block;
    text-align:center;
  }

  .nav_menu_cross {
    position:fixed;
    right: 5%;
    width: 5vw;
    height: 5vw;
    top: 5%;
  }

  .nav_icon_top{
    a{
      img{
      }
      p{

      }
    }
  }
}

//Open nav styling
.nav{
  .tole;
  border: 2vh solid @color4;
  border-right-width: 1.5vw;
  border-left-width: 1vw;
  background: @color1;
  z-index: 100001;
  height: 100vh;
  width: 100vw;
  position: fixed;
  .nav_container{
    height: 100%;

    //Top logo
    .nav_logo{
      a{
        img{
          margin-top:3vh;
          //height:12vh;
        }
      }
    }
    //social media icons
    .nav_open_icon_top{
      margin-top: 1vh;
      display: inline;
      a{
        display: inline;
        color: @color2;
        text-decoration: none;
        font-weight: 600;
        font-size: 2vh;
        svg {
          height: 3vh;
          display: inline;
          fill: @color2;
        }
        svg :hover{
          background: @color4;
          fill: @color1;
          //.transition(@time: 0.5s);
        }
      }
    }
    //Text and liks
    .nav_ul{
      height: 100%;
      ul{
        height: 40%;
        .center_vertically_css;
        list-style-type: none;
        li{
          display: inline;
          text-align: center;
          font-weight: 600;
          a:link{
            color: @color2;
            font-size: 3em;
            margin-left:2vw;
          }
          a:hover{
            color: @color3;
            .transition(@time: 2s);
          }
          a:visited{
            color:inherit;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {

}