@import "../everything";

.active{
  a{
    color: white !important;
  }
}

nav{
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: rgba($color4, 0.8);

  .nav_container{
    width: 35vw;
    height:100vh;
    float: right;
    background: $color1;

    .nav_text_container{
      height: 100vh;
      width: 40vw;
      @extend .grid;

      ul{
        grid-area: 4 / 2 / 9 / 12;
        li{
          a{
            font-size:3vw;
            font-weight:900;
            color: rgba(white, 0.4);
            &:hover{
              color: white;
            }
          }
        }
      }

      p{
        grid-area: 12 / 2 / 13 / 12;
        font-size:0.8vw;
        color: #000;
        a{
          font-size:0.8vw;
          color: #000;

        }
      }

    }

  }
}


.nav_out{
  position: fixed;
  @extend .tole;
  height: 12vh;
  width: 100%;
  display: inline-flex;
  z-index: 1005;

  .nav_out_container{
    height: 100%;
    width: 100%;

    .nav_out_logo {
      height: 100%;
      margin-left: 3%;
      z-index: 1000;

      .nav_out_logo_img {
        margin-top: 2%;
        height: 12vh !important;
      }
    }

    .nav_button_container{
      min-height:50px;
      position:fixed;
      right:3%;
      top:5%;
      width:3%;
      height:8%;
      list-style:none;
      z-index:1040;
    }

    .McButton {
      position: fixed;
      width: 4vw !important;
      height: 6vh !important;
      cursor: pointer;
      background: none;
      padding: 0 !important;

      .McButton_b {
        background: #000!important;
        display: block;
        top: 3vh !important;
        left: 93vw!important;
        z-index: 1040;
        width: 4vw !important;
        height: 4px !important;
        position:fixed;


        &:nth-child(1) {
          margin-top: 1vh;
        }

        &:nth-child(2) {
          margin-top: 3vh;
        }

        &:nth-child(3) {
          margin-top: 5vh;
        }
      }
    }

  }
}
