@import "../everything";

.slider_arrow {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 45%;
  cursor: pointer;
  z-index:1000;
  &:hover {
    background: rgba(74, 69, 68, 0.3);
    transition: 0.7s;
  }
}

.slider_arrow_right {
  right: 2%;
}

.slider_arrow_left {
  left: 2%;
}

.all_slider_container {
  overflow:hidden;
  height:100%;
}

.slider_list_object {
  height:100%;
  float:left;
  background:#C4C4C4;
}

.slider_preshow{
    z-index:10001;
    display:block !important;
}

.slider_page {
  color: $black !important;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0 !important;
  margin-right: 0 !important;
  left:0;
  display:block;
  overflow:hidden;

  p {
    text-align: left;
  }

  &:first-child {
    margin-top: 0;
  }
}

.slider_list_container {
  @extend .fullw;
  position:absolute;
  bottom:0;
  height:7%;
}

.slider_dots_container {
  @extend .fullw;
  position: absolute;
  height: 0.7vh;
  width: 0.7vw;
  bottom:5vh;
  z-index:10000;
}

.inner_dots_container {
  float:left;
  background:none;
  background-color: rgba(0,0,0,0) !important;
}

.slider_dot {
  z-index: 10000;
  width: 1.5vw;
  height: 1.5vh;
  float:left;
  border-radius: 50%;
  border: 4px solid;
  cursor:pointer;
  margin:0;
}

.padding_sides {
  padding-left:10% !important;
  padding-right:10% !important;
}

.side_image {
  max-height: 60%;
  width: auto;
  max-width:90%;
}

.background_image_container {
  @extend .full_size;
  @extend .tole;
  position:absolute;

  img {
    @extend  .background_image_container;
  }
}

.image {
  min-height: 100%;
  @extend .fullw;
  z-index: 100;
  background: $color3;
}

@media (min-width: $screen-md-min) {
  .slider_arrow {
    width: 5%;
    height: 10%;
    top: 50%;
  }
}
