@import "../../everything";

.i_About {
  z-index:10;
  display: block;
  height: 135vh;
  background: darken($white, 5%);

  .i_About_container{
    height: 135vh;
    width: 100vw;
    @extend .grid;

    h2{
      text-align: center;
      grid-area: 1 / 5 / 2 / 9;
      margin:5vh 0 5vh 0;
    }


    .i_About_left{
      grid-area: 2 / 1 / 8 / 14;
      svg{
        height: 100%;
        width: 100%;
      }
    }

    .i_About_right{
      grid-area: 7 / 1 / 14 / 14;
      svg{
        height: 100%;
        width: 100%;
      }
    }
  }
}

//svg classes
.st0{fill:#FE7E17;}
.st1{fill:#333333;}
.st2{font-weight:600;}
.st3{font-size:12vw;}
.st4{font-weight:400;}
.st5{font-size:9vw;}
.st6{font-weight:200;}
.st7{font-size:5vw;}
.st8{stroke:#FFFFFF;stroke-miterlimit:10;}
.st9{font-weight:200;}
.st10{fill:none;stroke:#000000;stroke-width:8;stroke-linecap:square;stroke-miterlimit:10;}
.st11{fill:#010101;}

.st12{fill:#333333;}
.st13{font-weight:600;}
.st14{font-size:12vw;}
.st15{font-weight:400;}
.st16{font-size:9vw;}
.st17{font-weight:200;}
.st18{font-size:5vw;}
.st19{font-weight:200;}
.st20{fill:#000000;}
.st21{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st10{stroke-miterlimit:10;}

@media (min-width: $screen-sm-min) and (orientation: landscape) {
  .i_About {
    height: 300vh;
    .i_About_container{
      height: 300vh;

      .i_About_left{
        grid-area: 2 / 2 / 8 / 12;
      }

      .i_About_right{
        grid-area: 7 / 2 / 14 / 12;
      }
    }
  }

  //svg classes
  .st3{font-size:4vw;}
  .st5{font-size:3vw;}
  .st7{font-size:2vw;}
  .st14{font-size:4vw;}
  .st16{font-size:3vw;}
  .st18{font-size:2vw;}
}

//computer scree 992px and up
@media (min-width: $screen-md-min) {

  .i_About {
    height: 125vh;

    .i_About_container{
      height: 100vh;
      width: 90vw;
      margin-left:5vw;

      .i_About_left{
        grid-area: 2 / 1 / 14 / 7;
      }

      .i_About_right{
        grid-area: 2 / 7 / 14 / 13;
      }
    }
  }

  //svg classes
  .st3{font-size:3vw;}
  .st5{font-size:2.5vw;}
  .st7{font-size:1.3vw;}
  .st14{font-size:3vw;}
  .st16{font-size:2.5vw;}
  .st18{font-size:1.3vw;}

}
