@import "../../everything";
@import "../Work_Details/wd_head";

//header
.a_header {
  @extend .wd_head;
  background: url("../img/About/about_bg.jpg");

  .a_header_container {
    @extend .wd_head_container;

    .a_head_text {
      @extend .wd_head_text;

      h2 {
        grid-area: 5 / 2 / 7 / 7 !important;
        font-size: 2vw !important;
        font-weight: 400;
      }
    }
  }
}

//Slider
.a_slider {
  height: 100vh;
  width: 100vw;
  background: white;

  .a_slider_container {
    height: 100vh;
    width: 100vw;
  }
}

//Tablet
@media (min-width: $screen-sm-min) {

}

//Desktop
@media (min-width: $screen-md-min) {

}
