@import "../../everything";
@import "../Work_Details/wd_head";

//Header
.s_header {
  @extend .wd_head;
  height: 100vh !important;
  background: url("../img/Services/header_bg.jpg");

  .s_header_container {
    @extend .wd_head_container;
    height: 100vh !important;

    .s_text_container {
      @extend .wd_head_text;
      height: 70vh !important;

      h2 {
        grid-area: 5 / 2 / 7 / 12 !important;
        font-size: 5vw !important;
        font-weight: 400;
      }
    }

    .s_header_links_container {
      z-index: 200;
      display: grid;
      grid-template: repeat(12, 1fr) / repeat(12, 1fr);
      height: 40vh;
      width: 100vw;
      background: white;

      .s_header_links {
        border-right: 1px solid rgba($color4, 0.5);
        background: white;
        height: 100%;
        width: 100%;

        img {
          margin-top: 5vh;
          @include horizontal-align();
          width: 15vw;
          height: 15vh;
        }

        p {
          margin-top: -2vh;
          text-align: center;
          color: $color5;
          font-weight: 300;
          font-size: 3vw;
        }

        &:nth-child(1) {
          grid-area: 1 / 1 / 14 / 4;

        }
        &:nth-child(2) {
          grid-area: 1 / 4 / 14 / 7;

        }
        &:nth-child(3) {
          grid-area: 1 / 7 / 14 / 10;

        }
        &:nth-child(4) {
          grid-area: 1 / 10 / 14 / 14;

        }
        &:hover {
          background: rgba($color1, 0.7);
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (orientation: landscape) {
  .s_header {
    .s_header_container {
      .s_text_container {
        h2 {
          grid-area: 5 / 2 / 7 / 11 !important;
          font-size: 3.5vw !important;
        }
      }
      .s_header_links_container {
        .s_header_links {
          p {
            margin-top: 2vh;
            font-size: 1.9vw;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .s_header {
    .s_header_container {
      .s_text_container {
        h2 {
          grid-area: 5 / 2 / 7 / 7 !important;
          font-size: 2vw !important;
        }
      }
      .s_header_links_container {
        .s_header_links {
          p {
            margin-top: 2vh;
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
