@import "../everything";

//contact
.contact_cont{
  @extend .nopm;
  z-index: 3;
  .contact_cont_container{
    width: 100vw;
    background: url("../img/contact/contact.jpg")no-repeat fixed;
    @include background();
    //info
    .contact_cont_top{
      height: 110vh;
      width: 100%;
      .contact_cont_info {
        padding-top:10vh;
        .contact_cont_info_headline {
          text-align: center;
          h1 {
            color: $color1;
            font-weight: 800;
            font-size: 7vw;
          }
          h2 {
            color: $color3;
            font-weight: 600;
            font-size: 3vw;
          }
        }
        .contact_cont_info_stuff {
          margin-top: 8vh;
          text-align: center;
          color: $color3;
          i {
            font-size: 5vw;
          }
          h3 {
            font-size: 1.8vw;
            font-weight: 600;
          }
          p {
            font-size: 1.5vw;
            font-weight: 400;
          }
          .contact_cont_info_stuff_p {
            font-size: 1.5vw;
            font-weight: 400;
            color: $color1;
          }
        }
        .contact_cont_info_hide_btn {
          text-align: center;
          cursor: pointer;
          margin-top:2vh;
          p {
            color: $color3;
            font-size: 2vw;
            font-weight: 400;
          }
          i {
            color: $color1;
            font-size: 5vw;
            &:hover{
              color: $color3;
              @include transition($time:0.3s);
            }
          }
        }
      }
    }
    //form
    .contact_cont_container_togel{
      height: 100vh;
      width: 100%;
      background: transparent;
      //form
      .contact_cont_fom{
        height: 100%;
        form{
          height: auto;
          @extend .center_vertically_css;
          h1{
            color: $color3;
            font-size: 1.5vw;
            margin-left:2vw;
          }
          input{
            color: $color3;
            height: 6vh;
            width: 100%;
            margin-bottom: 2.5vh;
            border: 2px solid;
            background: transparent;
            @include border_radius($size: 4px);
            cursor: text;
          }
          textarea{
            color: $color3;
            height: 24vh;
            width: 100%;
            margin-bottom: 2.5vh;
            border: 2px solid;
            background: transparent;
            @include border_radius($size: 4px);
          }
          label{
            color: $color1;
            font-size: 1.2vw;
            margin-top:0.5vw;
          }
          .check{
            display: inline-flex;
            cursor: pointer !important;
            .checkbox{
              width: 2vw;
              height:2vw;
              background: transparent;
              @include border_radius($size: 4px);
            }
          }
          .submitbtn{
            @extend .center_horizontally_css;
            margin-top:5vw;
            width: 15vw;
            height:8vh;
            font-size: 2vw;
            display: block;
            background-color: $color1;
            border: 1px solid transparent;
            color: $color3;
            font-weight: 300;
            @include border_radius($size: 4px);
            @include transition($time: 0.5s, $ease: ease-in-out);
            &:hover{
              background-color: transparent;
              color: $color1;
              border-color: $color1;
            }
          }
        }
      }
    }
  }
}

//Desktop styling
@media (min-width: $screen-md-min) {

}
