@import "../../everything";

.wd_details {
  display: block;
  height: 120vh;
  width: 100vw;
  background: $color5;

  .wd_details_container {
    @extend .grid;
    color: $white;
    height: 100vh;
    width: 100vw;

    .wd_details_Date {
      grid-area: 1 / 2 / 4 / 12;
      text-align: center;

      h4 {
        font-size: 7vw;
        margin-bottom: -0.5vh;
      }

      hr {
        width: 40%;
        border: 0;
        border-top: solid 1px white;

      }

      p {
        font-size: 3.5vw;
        font-weight: 300;
      }
    }

    .wd_details_Lines {
      grid-area: 4 / 2 / 7 / 12;
      @extend .wd_details_Date;
    }

    .wd_details_Coffee {
      grid-area: 7 / 2 / 10 / 12;
      @extend .wd_details_Date;

      img {
        text-align: left;
        width: 5vw;
        display: inline;
        margin: 0.2vw;
      }
    }

    .wd_details_Tags {
      grid-area: 10 / 2 / 13 / 12;
      @extend .wd_details_Date;

      ul {
        text-align: center;
        color: $white;
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1vw;
        -webkit-margin-after: 1vw;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 40px;

        li {
          list-style: none;
          display: inline-block;
          border: 1px solid $color1;
          padding: 2pt 3pt;
          margin: 0 4pt 3pt 0;
          border-radius: 3pt;
          background: rgba($color1, .298039);
          font-size: 3vw;
        }
      }
    }
  }

  .wd_button {
    position: absolute;
    bottom: 5vh !important;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 30vw;
    background: transparent;
    text-align: center;
    border: 1px solid $color1;
    font-size: 3vw;
    padding: 1vh;
  }

}

@media (min-width: $screen-sm-min) and (orientation: landscape) {
  .wd_details {
    height: 140vh;
    .wd_details_container {
      height: 120vh;
      .wd_details_Date {
        h4 {
          font-size: 5vw;
          margin-bottom: -0.5vh;
        }

        hr {
          width: 40%;
          border: 0;
          border-top: solid 1px white;

        }

        p {
          font-size: 3vw;
          font-weight: 300;
        }
      }

    }
  }
}

@media (min-width: $screen-md-min) {

  .wd_details {
    height: 60vh;

    .wd_details_container {
      height: 50vh;

      .wd_details_Date {
        grid-column: 1 / span 3;
        grid-row: 2 / span 5;
        text-align: center;

        h4 {
          font-size: 2vw;
          margin-bottom: 2vh;
        }

        hr {
          width: 70%;

        }

        p {
          font-size: 1.6vw;
          font-weight: 300;
        }
      }

      .wd_details_Lines {
        grid-column: 4 / span 3;
      }

      .wd_details_Coffee {
        grid-column: 7 / span 3;

        img {
          width: 2vw;
        }
      }

      .wd_details_Tags {
        grid-column: 10 / span 3;
        width: 80%;

        ul {
          li {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
