@import "../../everything";

.wd_mobile {
  height: 100vh;
  width: 100vw;
  display: block;
  background: $color4;
  overflow: hidden;

  .wd_mobile_container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .wd_mobile_frame {
      @extend .center_css;
      position: absolute;
      z-index: 80;
      height: auto;
      width: 50vw;
    }

    .wd_mobile_inner {
      @extend .center_css;
      position: absolute;
      z-index: 100;
      height: auto;
      width: 47.6vw;
      margin-top: 1vh;

    }
  }
}

@media (min-width: $screen-sm-min) and (orientation: landscape) {
  .wd_mobile {
    height: 150vh;
    .wd_mobile_container {
      .wd_mobile_frame {
        width: 40vw;
      }
      .wd_mobile_inner {
        width: 37.6vw;
      }
    }
  }
}


@media (min-width: $screen-md-min) {
  .wd_mobile {
    .wd_mobile_container {
      .wd_mobile_frame {
        height: auto;
        width: 20vw;
      }

      .wd_mobile_inner {
        height: auto;
        width: 17.6vw;
        margin-top: 1vh;
      }
    }
  }
}
