@import "../everything";

.navbar {
  z-index: 10000;
  height: $nav-height;
  background-color: $color3;
  .navbar-header {
    height: $nav-height;
    .navbar-brand {
      height: $nav-height;
      @extend .nopm;
      img {
        height: 90%;
        margin-top: 2%;
      }
    }
  }

  .navbar-right {
    z-index: 10001;
    height: $nav-height;

    .navbar-text {
      font-size: 1vw;
      font-weight: 400;
      color: $color2;
    }
  }
}

.cart_button_container{
  min-height:50px;
  position:fixed;
  right:15%;
  top:1%;
  width:8%;
  height:8%;
  list-style:none;
  z-index:1032;
  li{
    @extend .fullw;
  }
}

.nav_button_container{
  min-height:50px;
  position:fixed;
  right:8%;
  top:0;
  width:3%;
  height:8%;
  list-style:none;
  z-index:1040;
}

.McButton {

  color: $bar-color;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 30%;
  cursor: pointer;
  background: none;
  padding: 0 !important;

  b {
    display: block;
    left: 0;
    z-index: 1040;
    width: $bar-w;
    height: 3px !important;
    background-color: $bar-color;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 100%;
    }
  }
}

//Open nav styling
.nav{
  @extend .tole;
  border: 2vh solid $color4;
  border-right-width: 1.5vw;
  border-left-width: 1vw;
  background: $color1;
  z-index: 100001;
  height: 100vh;
  width: 100vw;
  position: fixed;
  .nav_container{
    height:100%;
    width: auto;

    //Top logo
    .nav_logo{
      a{
        img{
          margin-top:3vh;
        }
      }
    }

    //social media icons
    .nav_open_icon_top{
      margin-top: 1vh;
      display: inline;
      a{
        display: inline;
        color: $color2;
        text-decoration: none;
        font-size: 3vh;
        //margin-left:1vh;
        height: 5vh;
        width: 5vh;
        i {
          text-align: center;
          vertical-align: middle;
          line-height: 5vh;
          width: inherit;
          color: $color2;
          border-radius: 50%;

          &:hover {
            background: $color2;
            color: $color1;
            @include transition($time: .5s);
          }
        }
        p{
          font-weight: 600;
          margin-left:1vh;
        }
      }
    }

    //Text and link
    .nav_ul{
      height: 100%;
      ul{
        height: 40%;
        @extend .center_vertically_css;
        list-style-type: none;
        li{
          display: inline;
          text-align: center;
          font-weight: 600;
          a {
            color: $color2;
            font-size: 3em;
            margin-left: 2vw;
            text-decoration: none;

            &:hover {
              color: white;
              @include transition($time: 0.3s);
            }
          }
        }
        p{
          font-weight: 200;
          font-size: 1.5em;
        }
      }
    }
  }
}

@media(min-width:$screen-sm-min) {

}

@media(min-width:$screen-md-min) {

}
