@import "../everything";

//text container used in all pages
.service_text_container{
  z-index: 4;
  h1{
    margin-top:10vh;
    font-size: 6vw;
    font-weight:800;
    color: $color3;
    text-transform: uppercase;
  }
  p{
    font-size: 4vw;
    font-weight: 300;
    color: $color3;
  }
  a{
    color: $color3;
    font-size: 4.2vw;
    font-weight: 300;
    border-bottom: 2px solid $color1;
    &:hover{
      text-decoration: none;
    }
  }
}

//bg for all service pages
.service_bg{
  @extend .nop;
  background: $color2;
  height: 80vh;
  margin-top:10vh;
}

//Service section index page
.service{
  z-index: 10;
  background: $color3;
  height: 300vh;
  @extend .nopm;
  .service_container{
    @extend .nopm;

    //Header
    .service_head{
      position: absolute;
      z-index: 5;
      left:65vw;
      top:2.5vh;
      h1{
        font-size: 6.2vw;
        font-weight: 600;
        color: $color3;
        text-align: center;
        text-transform: uppercase;
        background: $color4;
        padding:1.5vw;
      }
    }

    //Digital
    .service_digital{
      @extend .nopm;
      height: 100vh;

      .service_digital_bg{
        @extend .service_bg;

        .service_digital_img_container{
          @extend .nopm;
          height: 100%;
          img{
            @extend .nopm;
            height:100%;
          }
        }
        .service_digital_text_container{
          @extend .service_text_container;
        }
      }
    }

    //branding
    .service_branding{
      @extend .nopm;
      height: 100vh;

      .service_branding_bg{
        @extend .service_bg;

        .service_branding_text_container{
          @extend .service_text_container;
        }

        .service_branding_img_container{
          @extend .nop;
          height: 100%;
          img{
            @extend .nopm;
            height:100%;
          }
        }
      }
    }

    //mobil
    .service_mobil{
      @extend .nopm;
      height: 100vh;

      //bg for mobil
      .service_mobil_bg{
        @extend .service_bg;

        //img container
        .service_mobil_img_container{
          @extend .nopm;
          height: 100%;
          img{
            @extend .nopm;
            height:100%;
          }
        }

        //text container
        .service_mobil_text_container{
          @extend .service_text_container;
          h1{
            font-size: 5vw;
          }

        }

      }
    }

  } //service_container
} //service


//tablet size
@media (min-width: $screen-sm-min) {

  //bg for all service pages
  .service_bg_tablet{
    padding: 0 !important;
    background: $color2;
    height: 80vh;
    margin-top:10vh;
  }

  .service_text_container_tablet{
    z-index: 4;
    h1{
      margin-top:10vh;
      font-size: 6vw;
      font-weight:800;
      color: $color3;
      text-transform: uppercase;
    }
    p{
      font-size: 1.5vw;
      font-weight: 300;
      color: $color3;
    }
    a{
      color: $color3;
      font-size: 1.6vw;
      font-weight: 300;
      border-bottom: 2px solid $color1;
      &:hover{
        text-decoration: none;
      }
    }
  }

  //Service section index page
  //text container used in all pages
  .service{
    height: 300vh;
    .service_container{
      //Header
      .service_head{
        position: absolute;
        z-index: 5;
        left:70vw;
        top:2.5vh;
        h1{
          font-size: 3vw;
          font-weight: 600;
          color: $color3;
          text-align: center;
          text-transform: uppercase;
          background: $color4;
          padding:1.5vw;
        }
      }
      //Digital
      .service_digital{
        height: 100vh;
        .service_digital_bg{
          @extend .service_bg_tablet;
          .service_digital_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
          .service_digital_text_container{
            @extend .service_text_container_tablet;
          }
        }
      }
      //branding
      .service_branding{
        height: 100vh;
        .service_branding_bg{
          @extend .service_bg_tablet;
          .service_branding_text_container{
            @extend .service_text_container_tablet;
          }
          .service_branding_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
        }
      }

      //mobil
      .service_mobil{
        height: 100vh;
        //bg for mobil
        .service_mobil_bg{
          @extend .service_bg_tablet;
          //img container
          .service_mobil_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
          //text container
          .service_mobil_text_container{
            @extend .service_text_container_tablet;
            h1{
              font-size: 5vw;
            }

          }

        }
      }
    } //service_container
  } //service
}

//desktop size
@media (min-width: $screen-md-min) {

  //bg for all service pages
  .service_bg_desktop{
    padding: 0 !important;
    background: $color2;
    height: 80vh;
    margin-top:10vh;
  }

  .service_text_container_desktop{
    z-index: 4;
    h1{
      margin-top:10vh;
      font-size: 6vw;
      font-weight:800;
      color: $color3;
      text-transform: uppercase;
    }
    p{
      font-size: 1.5vw;
      font-weight: 300;
      color: $color3;
    }
    a{
      color: $color3;
      font-size: 1.6vw;
      font-weight: 300;
      border-bottom: 2px solid $color1;
      &:hover{
        text-decoration: none;
        color: $color3 * 1;
        @include transition($time:0.3s);
      }
    }
  }

  //Service section index page
  //text container used in all pages
  .service{
    height: 300vh;
    .service_container{
      //Header
      .service_head{
        position: absolute;
        z-index: 5;
        left:70vw;
        top:2.5vh;
        h1{
          font-size: 3vw;
          font-weight: 600;
          color: $color3;
          text-align: center;
          text-transform: uppercase;
          background: $color4;
          padding:1.5vw;
        }
      }
      //Digital
      .service_digital{
        height: 100vh;
        .service_digital_bg{
          @extend .service_bg_desktop;
          .service_digital_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
          .service_digital_text_container{
            @extend .service_text_container_desktop;
          }
        }
      }
      //branding
      .service_branding{
        height: 100vh;
        .service_branding_bg{
          @extend .service_bg_desktop;
          .service_branding_text_container{
            @extend .service_text_container_desktop;
          }
          .service_branding_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
        }
      }

      //mobil
      .service_mobil{
        height: 100vh;
        //bg for mobil
        .service_mobil_bg{
          @extend .service_bg_desktop;
          //img container
          .service_mobil_img_container{
            height: 100%;
            img{
              height:100%;
            }
          }
          //text container
          .service_mobil_text_container{
            @extend .service_text_container_desktop;
            h1{
              font-size: 5vw;
            }

          }

        }
      }
    } //service_container
  } //service
}
