//Header Index
@import "../../everything";

.i_header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .bg{
    height:100vh;
    width: 100vw;
    background: url("../img/Index/header_bg.jpg") no-repeat center;
    background-size: 100vw 100vh;
    transform: scale(1.1);
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    overflow-y: hidden;
  }

  .i_header_container {
    z-index:10;
    position: absolute;
    @extend .grid;
    width:100vw;
    height: 100vh;
    background: rgba($color4, 0.7);

    a {
      grid-area: 10 / 10 / 12 / 12;
      svg {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        fill: white;
      }
    }

    .i_header_btn {
      grid-area: 8 / 5 / 9 / 9;
      border: 2px solid $color1;
      border-radius: 1px;
      background: transparent;
      color: white;
      font-size: 3vw;
      text-transform: uppercase;
      font-weight: 300;

      &:hover {
        border: white;
        @include transition($time: 0.5s);
        background: white;
        color: $color1;
      }
    }

    h2 {
      text-align: center;
      grid-area: 5 / 3 / 7 / 11;
      font-size: 4.5vw;
      color: white;
    }
  }
}

//Tablet styling
@media (min-width: $screen-sm-min) {
  .i_header {
    .i_header_container {

      .i_header_btn {
        grid-area: 8 / 5 / 9 / 9;
        font-size: 2.7vw;
      }

      h2 {
        grid-area: 5 / 3 / 7 / 11;
        font-size: 4vw;
      }
    }
  }
}

// Desktop styling
@media (min-width: $screen-md-min) {

  .i_header {
    .i_header_container {

      svg{
        grid-area: 11 / 12 / 12 / 13;
      }

      .i_header_logo {
        grid-area: 1 / 1 / 4 / 2;
      }

      .i_header_btn {
        grid-area: 8 / 6 / 9 / 8;
        font-size: 1.3vw;
      }

      h2 {
        grid-area: 5 / 3 / 7 / 11;
        font-size: 2.4vw;
      }
    }
  }
}
