@import "../../everything";

header{
  height: 100vh;
  width: 100vh;

  .header_container{
    height: 100vh;
    width: 100vw;

    .header_text{
      @extend .grid;
      @extend .tole;
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: 100;
      text-align: center;
      color: white;
      background: rgba($color4, 0.3);

      h1{
        grid-area:3 / 2 / 4 / 12;
        font-size:8vw;

      }

      h4{
        font-size:6vw;
        grid-area: 5 / 2 / 6 / 12;

      }

      hr{
        width: 80%;
        border: 2px solid white;
        grid-area: 6 / 2 / 7 / 12;
      }

      h5{
        font-size:4vw;
        grid-area: 7 / 2 / 8 / 12;
      }
    }

    .header_img_container {
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  }
}

// Desktop
@media (min-width: $screen-md-min) {

  header{
    .header_container{
      .header_text{
        h1{
          grid-area:3 / 2 / 4 / 12;
          font-size:5vw;
        }

        h4{
          font-size:3vw;
          grid-area: 5 / 2 / 6 / 12;
        }

        hr{
          width: 70%;
          grid-area: 6 / 2 / 7 / 12;
          border: 1px solid white;
        }

        h5{
          font-size:1.5vw;
          grid-area: 7 / 2 / 8 / 12;
        }
      }
    }
  }
}
