@import "../../everything";

.i_Portfolio{
  width: 100vw;
  min-height: 180vh;

  .i_Portfolio_container{
    width: 100vw;
    min-height: 160vh;
    position: absolute;

    .i_Portfolio_slider {
      width: 100vw;
      min-height: 180vh;

      .i_Portfolio_slider_top {
        @extend .full_page;
        @extend .nopm;
        @extend .grid;

        img{
          @extend .full_page;
          position: absolute;
          z-index: 100;
        }

        h2{
          text-align: center;
          font-size: 8vw;
          z-index: 500;
          color: $white;
          grid-row: 6 / span 2;
          grid-column: 4 / 10;
        }
      }

      .i_Portfolio_slider_bot {
        @extend .grid;
        background: $color5;
        color: $white;
        min-height: 80vh;
        width: 100vw;

        h3{
          grid-column: 5 /span 4;
          grid-row: 2 / span 2;
          text-align: center;
        }

        .i_Portfolio_Date {
          grid-column: 1 / span 3;
          grid-row: 5 / span 5;
          text-align: center;

          h4 {
            font-size: 2vw;
          }

          hr {
            width: 70%;

          }

          p {
            font-size: 1.6vw;
            font-weight: 300;
          }
        }

        .i_Portfolio_Lines{
          grid-column: 4 / span 3;
          @extend .i_Portfolio_Date;
        }

        .i_Portfolio_Coffee{
          grid-column: 7 / span 3;
          @extend .i_Portfolio_Date;

          img {
            text-align: left;
            width: 2vw;
            display: inline;
            margin: 1vw;
          }
        }

        .i_Portfolio_Tags{
          grid-column: 10 / span 3;
          @extend .i_Portfolio_Date;
          width: 80%;

          ul {
            text-align: left;
            color: $white;
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1vw;
            -webkit-margin-after: 1vw;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
            -webkit-padding-start: 40px;

            li {
              list-style: none;
              display: inline-block;
              border: 1px solid $color1;
              padding: 2pt 3pt;
              margin: 0 4pt 3pt 0;
              border-radius: 3pt;
              background: rgba($color1, .298039);
              font-size: 1.5vw;
            }
          }
        }

        button{
          grid-column: 6 / span 2;
          grid-row: 11 / span 1;
          background: transparent;
          border: solid 1px $color1;
          color: $color1;
          font-size:1.3vw;
          border-radius: 2%;

          &:hover{
            background: rgba($color1, 0.7);
            color: $white;
            border: transparent;
          }
        }
      }
    }
  }
}
