//All variables for document

//Default colors
$color1: #fe7e17;
$color2: #333333;
$color3: #ffffff;
$color4: #000000;

//standard variables
$no: 0 !important;

//size variables
$iooh: 100vh;
$ioow: 100vw;
$full: 100%;
$hap: 50%;

//computer scree sises and up
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//slide show variables
$items: 6;
$animation-time: 8s;
$transition-time: 0.8s;
$scale: 15%;
$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);

//nav variables
$nav-height:  4.5vw;
$bar-w: 10vh;
$bar-color: $color2;
